extends ../layouts/default

block variables
  - var title = 'Webpack template'
  - var description = 'Description ...'

block content
  h1.h1class Jade - node template engine
  #container.col
    p You are amazing
    p
      | Jade is a terse and simple
      | templating language with a
      | strong focus on performance
      | and powerful features.